{% extends 'base.html' %}

{% block titulo %}
    SistemaPortaria - Cadastro Moradores 
{% endblock %}

{% block body %}
    {% if form.email.errors or form.cpf.errors %}
        {% for erro in form.email.errors or form.cpf.errors %}
            {{ erro }}
        {% endfor %}
    {% endif %}        
    <h1>Cadastro de Moradores</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.nome }}
        {{ form.email }}
        {{ form.celular(id="celular_input") }}
        {{ form.cpf(id="cpf_input") }}
        {{ form.unidade }}
        {{ form.foto }}
        {{ form.botao_cadastra }}

    </form>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-masker@1.2.0/lib/vanilla-masker.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var celular_input = document.getElementById('celular_input')
            var cpf_input = document.getElementById('cpf_input')


            if (celular_input) {
                VMasker(celular_input).maskPattern("(99) 9 9999-9999")
            }
            if (cpf_input){
                VMasker(cpf_input).maskPattern("999.999.999-99")
            }
        })
    </script>

{% endblock %}  